<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>

<body class="">
  <!-- Navbar -->
  <%- include('navbar.ejs') -%>
  <!-- Main -->
  <%- include(`${template}`) %>
  <script src="/static/flowbite/flowbite.js"></script>
  <!-- Footer -->
  <% include('footer.ejs') %>

</body>

</html>