<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>

<body class="bg-gray-50">
  <!-- Navbar -->
  <%- include('navbar.ejs') -%>

  <!-- Main -->
  <main class="sm:px-4 py-8 bg-gray-50">
    <%- include('alert.ejs') %>
    <%- include(`${template}`) %>
  </main>
  <script src="/static/flowbite/flowbite.js"></script>

  <!-- Footer -->
  <% include('footer.ejs') %>
</body>

</html>