<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/css/output.css" />

  <title><%= title %> | Recipe Cost Calculator</title>
</head>
